__pycache__/
*.py[cod]
!comfy_v100_flash_attn_cuda.cp312-win_amd64.pyd
*.pdb
*.exp
*.lib
*.obj
build/
dist/
*.egg-info/
.pytest_cache/
.idea/
.vscode/
*.log
*.mp4
*.wav
*.png
!assets/*.png
*.jpg
*.jpeg
*.safetensors
*.ckpt
*.pt
*.pth

!h3_v100_sol_cuda.cp312-win_amd64.pyd
!h3_v100_qk_cuda.cp312-win_amd64.pyd
!h3_v100_mlp_cuda.cp312-win_amd64.pyd
!assets/demo-575.mp4
!assets/demo-575.jpg
